[user]
	name = Sidmar Theodoro
	email = theodorosidmar@gmail.com
[color]
	ui = true
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[pager]
	branch = false
	stash = false
[core]
	excludesfile = ~/.gitignore
	editor = vim
[merge]
	tool = vimdiff
	summary = true
	verbosity = 1
[mergetool]
	prompt = false
[push]
	default = upstream
