[submodule "nvim-tree-sitter"]
	path = vim/.vim/plugged/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim-fugitive"]
	path = vim/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvm-lspconfig"]
	path = vim/.vim/plugged/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "plenary.nvim"]
	path = vim/.vim/plugged/plenary.nvim
	url = https://github.com/nvim-lua/plenary.vim
[submodule "telescope.nvim"]
	path = vim/.vim/plugged/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.vim
