let mapleader = " "

set relativenumber number
set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling
set ideajoin

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" jk leaves insert mode
inoremap jk <ESC>

" J & K moves text selected up and down in visual mode
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Remap splits navigation to just CTRL + hjkl
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Code navigation
nnoremap <leader>sp :sp<space>
nnoremap <leader>vs :vs<space>
nmap <C-f> :action SelectInProjectView<cr>
nmap <C-w>o :action CloseAllEditorsButActive<cr>
nmap <leader>ps :action FindInPath<cr>
nmap <C-b> :action ActivateProjectToolWindow<cr>
nmap <leader>rr :action RenameElement<cr>
nmap <leader>gd :action GotoDeclaration<cr>
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gr :action ShowUsages<cr>
nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>
nmap <leader>c :action GotoClass<cr>
nmap == :action ReformatCode<cr>
